@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent !important;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.dropdown-menu {
    width: 260% !important;
    padding-top: 10%;
}

.divarea {
    float: left !important;
}

.menuarea .navbar{
    background: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 5%);
}
.menuarea ul {
    margin-left: 7%;
}

/*imagearea*/
.imagearea .picarea{
    position: relative;
    /* position: absolute; */
}
.imagearea .titlearea{
    position: absolute;
    /* position: relative; */
    margin-top: -35%;
}

/* categories */
.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative; 
}
.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:10px; 
    margin:10px; 
    background:#f1f1f1; 
    color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; 
    border-radius:50%;
    top:calc(50% - 20px); 
}
.MultiCarousel .leftLst { 
    left:0; 
}
.MultiCarousel .rightLst { 
    right:0; 
}
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
    background:#ccc; 
}

.pad h5 i{
    color: rgba(0, 204, 150, 1);
}
.pad p{
    color: black;
}
.pad{
    border-radius: 15%;
}
/*categories end*/

/*products*/
.products img{
    width: 100%;
}
.products h4 {
    color: black;
}
.products .tea{
    background: none !important;
}
/*products end*/

/*Buttons*/
.btn1{
    border-radius: 24px;
    border: none;
    padding: 8px 20px !important;

}
.btno{
    color: rgba(255, 193, 35, 1);
    background: rgba(255, 193, 35, 0.1);
}
.btnb{
    color: rgba(41, 117, 255, 1);
    background: rgba(41, 117, 255, 0.1);
}
.btnp{
    color: rgba(255, 102, 160, 1);
    background: rgba(255, 102, 160, 0.1);
}
.btng{
    color: rgba(0, 204, 150, 1);
    background: rgba(0, 204, 150, 0.1);
}
.btn2{
    background: rgba(0, 204, 150, 1);
    color: rgba(247, 250, 252, 1);
    border-radius: 32px !important;
    border: none;
    padding: 16px 40px !important;
    /* margin-left: 15%; */
    margin-top: 10%;
    /* align-content: center; */
}

/*buttons end*/
.tea img{
    width: 100%;
}




/*blog*/
.blog .gap{
    margin-top: 10%;
}
.blog .col-6 h3{
margin-top: 7.5%;
margin-bottom: 7.5%;
}

.blog .col-8 h3{
margin-top: 5%;
margin-bottom: 5%;
}
.blog .col-4 h3{
    margin-top: 10%;
    margin-bottom: 10%;
}

/*replyarea*/
/* .replybkg{
    position: relative;
} */
.replyy{
    /* position: absolute; */
    margin-top: -30%;
    margin-bottom: 25%;
    padding-left: 25%;
}
.btn2{
    margin-top: auto;
    /* margin-left: 0%; */
}
.replyarea .inputarea{
    margin: auto;
}
.replyarea input{
    border-radius: 24px;
}
/* #mailarea, .btn2{
    margin: auto;
}
#mailarea{
    width: 50%;
} */

/*footerarea*/
.footerarea a{
    color: #1A202C;
}
.footerarea a:hover{
    color: #000000;
}
.footerarea a:link{
    color: #000000;
}
.footerarea a:focus{
    color: #000000;
}
.footerarea a:active{
    color: #000000;
}
.footerarea a:visited{
    color: #000000;
}
.footerarea ul {
    list-style-type: none;
    padding-left: 0;
}

.lowarea a{
    color: #1A202C;
}
.lowarea a:hover{
    color: #000000;
}
.lowarea a:link{
    color: #000000;
}
.lowarea a:focus{
    color: #000000;
}
.lowarea a:active{
    color: #000000;
}
.lowarea a:visited{
    color: #000000;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    /* background: #007b5e !important; */
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #000000;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#1A202C;
}
#footer a {
    color: #000000;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#000000;
}
#footer ul.social li a:hover{
	color:#1A202C;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
#footer h6{
    color:#000000;
}
